/* Chỉnh sửa phần menu cho đẹp */
#first_menu{
    text-align: center;
    background-color: #fcccf8;
    color: #fc6277;
    Padding: 80px;
    Margin: 0px;
}
/* Chỉnh sửa phần nav và cho những hiệu ứng như hover */
nav{
    background-color: #62effc;
    overflow: hidden;
}
nav a{
    padding: 16px 14px;
    color: #ffff8c;
    display: block;
    text-decoration: none;
}
nav a.left_menu{
    float: left;
}
nav a.right_menu{
    float: right;
}
nav a:hover{
    color: #62effc;
    background-color: #ffff8c;
}
/* Chỉnh sửa footer cho đẹp */
footer{
    background-color: #62effc;
    text-align: center;
    padding: 20px;
}
footer a{
    text-decoration: none;
    color: #fcccf8;
}
/* Trang trí bảng */
#tab {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tab td, #tab th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tab tr:nth-child(even){background-color: #f2f2f2;}


#tab th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
/* Tạo flexbox */
#flex-container{
    display: flex;
    flex-wrap: nowrap;
}
#left_flex{
    flex: 30%;
    padding: 10px;
    background-color: #f1f1f1;
}
#right_flex{
    flex: 70%;
    padding: 10px;
}
/* Tạo giao diện cho điện thoại và máy tính  bảng */
@media(max-width: 800px){
    #flex-container{
        flex-wrap: wrap;
    }
    #left_flex{
        flex: 100%;
    }
    #right_flex{
        flex: 100%;
    }
}